.card {
    margin-left: 50%;
    height: auto;
}

.cardp {
    font-weight: 400;
    font-size: 20px;
    color: antiquewhite;
}

.center{
    font-size: 3em;
    color:#ffd700;
    text-align: center;
    justify-content: center;
}
.robot{
    width: 200px;
    height: auto;
    margin-left: 300px;
    margin-top: 10px;
   
}

.tex {
    text-align: center;
    color:#ffd700;
    font-size: 25px;
    
    
}
// .cont {
//     display: flex;
// }
// .photo {
//     float: right;
// }
p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}